.App {
  text-align: center;
}

.pokemonItem {
  text-align: center;
  border: solid 1px black;
  margin: 5px;
}

.pokemonList {
  list-style: none;
}

.pokemonTypes {
  list-style: none;
  background-color: lightskyblue;
  margin: 10px;
}

.types {
  display: flex;
  flex-direction: row;
  text-align: center;
}